/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 4px;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(154, 153, 247);
    /* Set the color of the scrollbar thumb */
}

::-webkit-scrollbar-track {
    background-color: lightgray;
    /* Set the color of the scrollbar track */
}

.ant-btn{
    background: rgb(107, 201, 133) !important;
}